In [1]:
#variable,A variable is a name that stores a value in memory.
'''
Can contain letters, numbers, underscore
✔ Cannot start with number
✔ Case sensitive
✔ Cannot use keywords'''
name ="varsh"
age =28
print (name,age)

varsh 28

In [38]:
# Dynamic Typing (Python Special Feature)
#because varialble type fixed at runtime
x =10
y="string"

In [36]:
#DATA TYPES (VERY VERY IMPORTANT )
#int all numbers
x =10
#flot decimal number
x =1.0
#string words
x ="Python"
#complex
x =2+3j
#boolen
bool(0)
bool(1)
#What values are considered False?
#0 None "" [] {} Fals2 Everything else → True

True

In [35]:
i =33
f=2.3
b=True

print(type(i))
print(type(f))
print(type(b))

<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
#string methods
''' lower()
upper()
strip()
replace()
split()
join()
find()
count()'''
string ="Python"
string[0:4]  #[start : stop : step]
#Think like range() → last number not included.
string.upper()
print(string)
string.lower()
string.replace("P" ,"y")

Python

'yython'

In [8]:
#split
string.split('t')

['Py', 'hon']

In [10]:
#Join "separator".join(iterable)
s1="Data"
s2 ="Science"
s1.join(s2)
#1
"".join([s1, s2])
#or
s1+s2

'DataScience'

In [19]:
#real use of join
words =["Data","Science"]
"-".join(words)

'Data-Science'

In [12]:
#What happens if elements are not strings?
#convert it into string
number =[2,6,7]
"".join(map(str,number))

'267'

In [13]:
"-".join("ABC")#join iterable

'A-B-C'

In [16]:
#find  string.find(substring)
#returns index if found or -1 if not found
string="poop"
string.find("A")

-1

In [26]:
string.find('o',2)

2

In [39]:
s ="hello world"
s.find("world")

6

In [23]:
#index not found throw error
words.index("Science")

1

In [24]:
words.index("poop")

ValueError: 'poop' is not in list

In [30]:
#count  It counts substring, not words
x ="I am learning Python"
x.count("am")

1

In [31]:
x.count("m") #m present only once

1

In [32]:
x.count("a") #it does not overlap it give index of last is 2 words repeats

2

In [33]:
x.count("y")

1

In [34]:
#Non overlaping
x = "amamam"
x.count("am")

3

In [40]:
Fruite="apple NAME"
#1 upper,lower,title
print(Fruite.upper())
print(Fruite.lower())
print(Fruite.title())
print(Fruite.upper())
print(Fruite.capitalize())

APPLE NAME
apple name
Apple Name
APPLE NAME
Apple name

In [41]:
#type cating int ->float->boolean
int("10")+5

15

In [42]:
#implicete converstion python convert small type into large automatically
print(5.0+2)

7.0

In [ ]:
#Explicit Typecasting (Manual)
#int
int(5.9)       # 5
int("10")      # 10
int("10.5")#error  #Because string must be whole number.
int(float("10.5")) #correct way

In [ ]:
#str convert everything into string
str(10)      # "10"
str(5.5)     # "5.5"

In [ ]:
#bool converts evrthing into flase
bool(0)      # False
bool(100)    # True
bool("")     # False
bool("Hi")   # True
#all empty string are false

In [43]:
#common confiusion
name =input("enter  the name")#input is a string if you need int you need to do type converstion
print(name)

enter  the nameva
va

In [48]:
#on float to int remove decimal value
int(5.9)

5

In [53]:
#list
list("abc")
list([1,2,3])

[1, 2, 3]

In [54]:
#tuple
tuple([1,2,3])
tuple("bc")

('b', 'c')

In [55]:
#set remove duplicates
x =[2,3,4,2,3]
set(x)

{2, 3, 4}

In [ ]:
#operators
#1, Arithmetic +,-,/,//,%(reminder),**(power)
#Assigment : =,+=,-=,/=(just palce = after Arithamtic operator)
#comparision <,>,<=,>=,==.!=
#logical op:and ,or,not
#Sequential data types :it stores element in specfic order that can acess through indexing (String,list,tuple)
#unsequential:do not maintain a fixed order and the elements cannot access through indexing(set)