In [ ]:
#Question based on conditional statments
# 1 check given is leap year or not
year =int(input("Enter the year"))
if (year %4==0) or (year %400 ==0 and year %100 !=0):
  print(f"give year {year} is a leap year")
else:
  print("not leap year")

Enter the year2000
give year 2000 is a leap year

In [ ]:
#2 Print numbers from 1 to N using for loop.
n =19
for i in range(n):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
#3 using while loop
n =5
i =0
while i <n:
  print(i)
  i =i+1

0
1
2
3
4

In [ ]:
#4 Find sum of first N natural numbers.
n =5
sum =0
for i in range(n):
  sum =sum +i
print(sum)

10

In [ ]:
def fac(n):
  if n == 0:
    return 1  # Corrected: return 1 instead of printing it
  else:
    return n * fac(n-1)
print(fac(3))

6

In [ ]:
# 5 palidrome
n = 121
s_n = str(n)
if s_n == s_n[::-1]:
  print("palidrome")
else:
  print("Not a palidrome")

palidrome

In [23]:
# palidrome in string
n ="amma"
x=n[::-1]
if x ==n:
  print("it is palidrome")
else:
  print("it is not palidrome")

it is palidrome

In [ ]:
#6 Number of digit in given number
n=123
count =0
while n >0:
  n= n//10
  count =count+1
print(count)

3

In [ ]:
#7 Find the last digit
n =12
print(n%10)

2

In [ ]:
#8  reverse the number
'''hint
% used to get last digit
// used to remove last digit'''
n =1010
renum =0
while n >0:
  di = n %10
  renum =renum*10+di
  n =n//10
print(renum)

101

In [ ]:
#9 print multiplication table
n =5
for i in range(1,11):
  print(n ,'*' ,i ,'=',n *i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#10 Find sum of digits of a number.
n =123

sum =0
for i in str(n):
  sum =sum+int(i)
print(sum)

6

In [ ]:
#11 Find sum of digits of a number.
n =123

sum =0
for i in str(n):
  sum =sum+int(i)
print(sum)

6

In [ ]:
n =123
sum =0
for i in str(n):
  #print(int(i))
  sum =sum+int(i)**2
print(sum)

14

In [ ]:
#12 Check if a number is Armstrong number.

n=153
count = 0
sum =0
while n >0:
  n=n //10
  count=count+1

for i in str(n):
  sum =sum +int(i)**count
print(sum)

3
0

In [ ]:
#13 Check if a number is Armstrong number.

n=153
temp =n
count = 0
sum =0
while temp>0:
  temp=temp //10
  count=count+1

for i in str(n):
  sum =sum +int(i)**count
if sum ==n:
  print("armstrong number")
else:
  print("not an armstrong")
print(sum)
print(count)

armstrong number
153
3

In [ ]:
#14 fibonaci
n =5
a=0
b=1
for i in range(n):
  print(a)
  a,b =b,a+b

0
1
1
2
3

In [ ]:
#15 count number of vowels and constant of a string
string ="apple"
vow =0
con =0
for i in string:
  if (i =='a' or i=='e' or i =='i' or i =='o'or i=='u'):
      vow+=1
  else:
      con+=1
print("number of vowles =",vow)
print("Number of constant =",con)

number of vowles = 2
Number of constant = 3

In [1]:
#16 Find second largest number in list.
nums = [1, 66, 34, 2, 2]

unique_nums = list(set(nums))  # remove duplicates
unique_nums.sort()             # sort ascending

second_largest = unique_nums[-2]

print("Second largest =", second_largest)

Second largest = 34

In [ ]:
#Remove duplicates from list without using set().
li =[1,34,1]
new=[]
for i in li:
  if i not in new:
    new.append(i)
print(new)

[1, 34]

In [ ]:
#Find common elements in ists.
li =[1,34,1,34,5,7]
new=[]
com=[]
for i in li:
  if i in new:
    com.append(i)
  else:
    new.append(i)
print("common elements are=",com)

common elements are= [1, 34]

In [10]:
#Find common elements between two lists.
li1 =[2,4,67]
li2=[4,2,6,5]
common=[]

# A correct way to find common elements is to iterate through one list
# and check for presence in the other list. Using sets is often more efficient.
# Method 1: Using loops
# for element_li1 in li1:
#   if element_li1 in li2 and element_li1 not in common:
#     common.append(element_li1)

# Method 2: Using sets (more Pythonic and efficient for larger lists)
common = list(set(li1) & set(li2))

print("common element",common)

common element [2, 4]

In [16]:
#Bitwise operator and logiacl operator differance
x = 10

if x > 5 and x < 20:
    print("Between 5 and 20")

Between 5 and 20

In [17]:
#& operator
print(5&3)
'''
5 = 101
3 = 011
------------
    001'''

1

'\n5 = 101\n3 = 011\n------------\n    001'

In [10]:
#Count frequency of each element in list.
li =[1,34,1,34 ,2,6,1]
dic ={}
for i in li:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1
print(dic)

{1: 3, 34: 2, 2: 1, 6: 1}

In [12]:
# Print all prime numbers between 1 and N.
n = int(input("Enter the number")) # Corrected typo 'nubmer' to 'number'
for num in range(2, n + 1):
  is_prime = True
  # Check for factors from 2 up to the square root of num
  # Convert the upper bound of range to an integer
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      is_prime = False
      break # If a factor is found, it's not prime, so break

  # The original line 'is_prime = True' here was a logical error.
  # It would reset is_prime to True for every number, even if it was set to False.
  # Now, we only print if is_prime remains True after the checks.
  if is_prime:
    print(num)

Enter the number9
2
3
5
7

In [13]:
#Check if number is prime.
num =int(input("enter the number"))
if num <2:
  print("Not prime")
else:
  is_prime =True
for i in range(2,int(num**0.5)+1):
  if num %i ==0:
    is_prime =False
    break
if is_prime:
  print("it is prime")
else:
  print("it is not prime")#Find GCD of two numbers.
a =10
b=20
def gcd(a,b):
  if b ==0:
    return a
  else:
    return gcd(b,a%b)
print(gcd(a,b))

enter the number9
it is not prime

In [ ]:
#Find GCD of two numbers.
a =10
b=20
def gcd(a,b):
  if b ==0:
    return a
  else:
    return gcd(b,a%b)
print(gcd(a,b))

In [16]:
#find lcm

a =10
b=20
def gcd(a,b):
  if b ==0:
    return a
  else:
    return gcd(b,a%b)
print(gcd(a,b))
lcm =a*b //gcd(a,b)
print("LCM=",lcm)

10
LCM= 20

In [26]:
#Find maximum occurring character in string.
string ="AMMU"
dic ={}
max =0
ele =""
for i in string:
  if i  in dic:
    dic[i] +=1
  else:
    dic[i]=1
for i in dic:
  if(dic[i]>max):
    max =dic[i]
    ele =i
print(ele ,max)

M 2

In [29]:
#Find missing number in list from 1 to N.
List = [1, 2, 4, 5]
def missing(List):
  n =len(List)+1
  actual_sum =n*(n+1)//2
  excpeted_sum =sum(List)
  return actual_sum -excpeted_sum
print(missing(List))

1

In [34]:
'''*
**
***
****'''
for i in range(5):
  print(i *"*")

*
**
***
****

In [37]:
'''1
12
123
1234'''
n =4
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end ="")
  print()

1
12
123
1234