In [1]:
# Function is A function is a reusable block of code.
def greet():
    print("Hello")

In [3]:
#Parameters & Return
def add(a, b):
    return a + b
result = add(2,3)
print(result)

5

In [4]:
#Default Arguments
def greet(name="Guest"):
    print(name)
greet()
greet("Varshini")

Guest
Varshini

In [5]:
#*args (Multiple Positional Arguments)
def total(*numbers):
    print(numbers)
total(1,2,3,4)

(1, 2, 3, 4)

In [6]:
def info(**data):
    print(data)
info(name="Varshini", age=22)

{'name': 'Varshini', 'age': 22}

In [2]:
#LAMBDA FUNCTION
#normal
def square(x):
    return x*x
print(square(3))

9

In [1]:
#lambda
square = lambda x: x*x
print(square(5))

25

In [3]:
#Mulitiple arguments
add =lambda x,y:x+y
print(add(5,5))

10

In [4]:
check_even = lambda x: "Even" if x%2==0 else "Odd"

print(check_even(10))

Even

In [5]:
# with lambda
lis =[1,2,3]
sq =list(map(lambda x:x*x,lis))
print(sq)

[1, 4, 9]

In [7]:
#with fliter
lis =[1,23,2,3,4]
num=list(filter(lambda x :x%2==0,lis))
print(num)

[2, 4]

In [9]:
#with sorted
students = [("A",90),("B",70),("C",85)]
ex=sorted(students, key=lambda x:x[1])
print(ex)

[('B', 70), ('C', 85), ('A', 90)]

In [13]:
#Recursion
def fact(n):
  if n ==0:
    return 1

  return n*fact(n-1)
print(fact(5))

120

In [15]:
#Expection hadling
def divide(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Cannot divide by zero"
print(divide(10,5))
print(divide(10,0))

2.0
Cannot divide by zero

In [16]:
def read_file(filename):
    try:
        with open(filename, "r") as f:
            return f.read()
    except FileNotFoundError:
        return "File not found"
print(read_file("ammu"))

File not found