In [ ]:

#if condition:
    # block
#elif condition:
    # block
#else:
    # block
x = 10
if x > 5:
    print("Greater")

Greater

In [ ]:
#if -else
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [ ]:
#if-elif-else ladder
marks = 85

if marks >= 90:
    print("A")
elif marks >= 75:
    print("B")
elif marks >= 50:
    print("C")
else:
    print("Fail")

B

In [ ]:
#nested if
age = 20
if age >= 18:
    if age < 60:
        print("Adult")

Adult

In [ ]:
#one line turnery operator
result  ="Even "if x %2==0 else "odd"
print(result)

Even

In [ ]:
#for loop basic syntax
for variable in [iterable]

In [ ]:
for i in [1,2,3]:
  print(i)

1
2
3

In [ ]:
#range
#range(start,stop,step)
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#loop through string
for char in "String":
  print(char)

S
t
r
i
n
g

In [ ]:
#loop in dictionary
dict ={"a" :1,"b" :2}
for key in dict:
  print(key)

a
b

In [ ]:
dict ={"a" :1,"b" :2}
for key,value in dict.items():
  print(key,value)

a 1
b 2

In [ ]:
#Nested loop
for i in range(3):
  for j in range(2):
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [ ]:
#while loop  syntax
while condition :
  block

In [ ]:
i =0
while i <5:
  print(i)
  i =i+1

0
1
2
3
4

In [ ]:
#infinate loop
while True:
  print("python")

In [ ]:
#break
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
#continue
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [ ]:
#pass
if x > 5:
    pass

In [ ]:
#logical operator
True or something  # stops immediately
False and something  # stops immediately

In [ ]:
#membership operator
#in
#not in
'a' in "apple"
#print(q)

True